<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width-devide-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/normalize.css">
    <link rel="stylesheet" href="../static/estilo.css">

</head>

<body background="../static/Imagens/fundo2.png"></body>

<body>

    <!-- Topo -->
    <header>
      <nav>
         <img src="../static/Imagens/logo.png" alt="logo">
      </nav>

      <div class="link">
         <a href="/">Home</a>|
         <a href="/quemsomos">Quem somos</a>|
         <a href="/contato">Contato</a>
      </div>
      
{% block main %}

{% endblock %}

     <div>
<h4 class="texto">Todos os direitos reservados</h4>
<br>
     </div>

</body>
</html> 
 
