{% extends 'base.html' %}

{% block main %}

<!-- Corpo -->

<h2 class="a">Entre em contato</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam mollitia soluta ipsa necessitatibus..</p>

<hr>

<form method="post">

    Seu e-mail: <br>
    <input type="text" name="email"> <br>

    Assunto: <br>
    <input type="text" name="assunto"> <br>

    <label for="descricao">Descricao</label>
    <br>
    <textarea id="descricao" name="descricao"></textarea>
    <br>
    
    <input type="submit" value="Enviar">


</form>
</div>

{% endblock %} 