{% extends 'base.html' %}

{% block main %}

<!-- Corpo -->

<h2 class="a">Entre em contato</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam mollitia soluta ipsa necessitatibus..</p>

<hr>
</head>
<body>
<div>
<form>
    <div> Seu e-mail: </div>
    <label> </label><input  type="text"><br>
    <div> Assunto: </div>
    <label></label><input  type="text"><br>
    <div> Descrição:</div>
    <label></label><br><textarea  cols="35" rows="5"></textarea><br>
    <input class="btn_submit" type="submit" value="Enviar">
  
</form>
</div>

{% endblock %} 