{% extends 'base.html' %}

{% block main %}
 <!-- Corpo img -->

 <div>
    <img class="img-capa" src="../static/Imagens/capa.png" alt="capa">
 </div>

  <!-- Corpo txt -->

 <div>

    <h2> Sobre a universidade </h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti ut possimus aperiam sunt consequuntur ratione voluptatem totam quia enim modi dicta, nostrum corporis id eius nulla perspiciatis voluptas? Enim, animi. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam non quaerat asperiores in suscipit modi voluptate laboriosam voluptatem harum corporis porro culpa perferendis, ipsum tempore ut. Libero ullam quibusdam delectus? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos voluptatem, ipsum iure numquam consectetur ut recusandae possimus quas commodi ipsa sapiente, labore totam enim molestias rerum ducimus quo dicta delectus.
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, neque, architecto reiciendis qui consequatur magnam consequuntur expedita repellat veritatis minus beatae sequi quia? Ab illo, nisi error consequatur rem sed. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, nisi! Repudiandae reiciendis, officiis dolore vitae blanditiis, repellendus at fugiat delectus nobis vero accusamus perferendis doloribus numquam labore fugit iste cupiditate.
    </p>
{% endblock %} 
