{% extends 'base.html' %}

{% block main %}
 <!-- Corpo -->

 <div>
    <br>

    <h2 class="a">Quem somos</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam cum vel, vitae illo similique, deleniti mollitia, veritatis alias odio optio tenetur? Rerum cupiditate ut architecto magni, tempore sed autem modi? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium facere molestias aspernatur excepturi eaque eius vitae dignissimos deserunt mollitia voluptate qui, molestiae, a quae officiis placeat autem error quisquam unde! Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque vero assumenda minus nemo iste minima consequatur odit, mollitia eveniet dicta fugiat, sed explicabo iusto tempore, cupiditate qui debitis autem ex!</p>

    <h2 class="a">5 motivos para estudar</h2>

<ol>
    <li style="list-style-type: decimal;">Material sempre atualizado</li>
    <li style="list-style-type: decimal;">Tablets em sala de aula</li>
    <li style="list-style-type: decimal;">Professores renomados</li>
    <li style="list-style-type: decimal;">Universidade bem avaliada</li>
    <li style="list-style-type: decimal;">Ótima localização</li>
</ol>
    
<hr>

    <h2 class="a">Objetivos</h2>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam cum vel, vitae illo similique, deleniti mollitia, veritatis alias odio optio tenetur? Rerum cupiditate ut architecto magni, tempore sed autem modi? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium facere molestias aspernatur excepturi eaque eius vitae dignissimos deserunt mollitia voluptate qui, molestiae, a quae officiis placeat autem error quisquam unde! Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque vero assumenda minus nemo iste minima consequatur odit, mollitia eveniet dicta fugiat, sed explicabo iusto tempore, cupiditate qui debitis autem ex!</p>

{% endblock %} 